@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* 
início do header */

body {
    min-height: 100vh;
    width: 100%; 
    background-color: #eeee; 
}

nav {
    background-color: #eeee;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    font-family: Inter, sans-serif;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    transition-duration: 300ms;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;  
}

.menu-botton {
    display: none;
}

@media(max-width: 800px) {
   .hideOnMobile{
    display: none;
   } 
   .menu-botton{
    display: block;
   }
}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

section h1 {
    text-align: center;
    margin-top: 20px;
}

section button {
    background-color: #024430;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

section button:hover {
    background-color: #016329;
}

/* Main */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.auth-section {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.auth-section input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #024430;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #02654b;
}

/* Formulário de Postagem */
#post-form {
    margin-bottom: 20px;
}

#post-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

#post-form button {
    background-color: #024430;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#post-form button:hover {
    background-color: #016329;
}

/* Container de Postagens */
#posts-container {
    margin-top: 20px;
}

/* Post */
.post {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post p {
    margin-bottom: 10px;
    font-size: 16px;
}

.post .actions {
    display: flex;
    justify-content: flex-end;
}

.post .actions button {
    background-color: transparent;
    border: none;
    color: #024430;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.post .actions button:hover {
    text-decoration: underline;
}

/* Comentários */
.comments {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

/* Campo de Comentário */
.comment-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.comment-input textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-input button {
    align-self: flex-end;
    background-color: #024430;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-input button:hover {
    background-color: #016329;
}


footer {
    background-color: #f1f3f5;
    color: black;
    padding: 20px;
    text-align: center;
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.footer-section {
    flex-basis: calc(20% - 20px);
    text-align: center;
}

.footer-section a {
    color: black; 
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer-section div {
    margin-top: 10px;
}

.footer-section h4 {
    margin-bottom: 5px;
}

.footer-section p {
    margin: 0;
}

#footer-social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#footer-social-media a {
    color: black; 
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    #footer-social-media {
        justify-content: center;
    }
}


